body{
  background-image: url('https://pjppreswiki.wikispaces.com/file/view/wikipedia-logo.jpg/116258621/wikipedia-logo.jpg');
    color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
   background-position: center top; 
  height: 100%;
  font-family: Helvetica, sans-serif;
 }
.heading{
   align-content: center;
   padding:15%;
   margin-top: 3%;
  }
.heading img{
  border-radius:25px;
  width:60px;
}
a { 
  color: inherit; 
} 
p{
  padding-bottom: 1%;
  padding-left:1%;
  font-size:10px;
}
div{
  border-radius:20px;
}

.form-control{
  border: 4px solid #000000;
 }
#output{
 margin-top:1%;
  border-radius:25px;
  }
h2{
  font-family:Times New Roman;
}
